html {
    background-image: linear-gradient(rgb(106, 104, 247), rgb(255, 0, 195));
    background-attachment: fixed;
}

body {
    text-align: center;
}

img {
    width: 200px
}

.catlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}