html {
    background-image: linear-gradient(rgb(106, 104, 247), rgb(255, 0, 195));
    background-attachment: fixed;
}

body {
    text-align: center;
}

.catlist img {
    width: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
}

.catlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.catlist .cat {
    border-style: outset;
    border-width: 5px;
    border-color: red;
    background-color: pink;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}

.catinfo img {
    width: 400px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

.infolist {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.infolist .infostats {
    border-style: outset;
    border-width: 3px;
    border-color: red;
    background-color: pink;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;
}

ul {
    list-style-type: none;
    margin: 50px;
    background-color: rgb(3, 16, 78);
}

ul li {
    padding: 10px;
}

ul li a {
    display: block;
    color: blue;
}

ul li a:hover {
    padding: 20px;
    background-color: black;
}